.img
{
    width: 8cm;
    height: 12cm;
    object-position: top;
}

body
{
    background-image: url(l.jpg);
    background-size: cover;
    width: 80 px;
    height: 100px;
}
nav {
}
h1
{   font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
h1
{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: 700;
}
p{
    font-style: italic;
    font-size: large;
    font-weight: 700;
    color: blue;
}
h2{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
color: blue;
}
h3{
    color: blue;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
footer{
    margin-top: 100%;
margin-bottom: 0%;
font-size: large;
font-weight: 900;}

